<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<!--/*@thymesVar id="characters" type="com.example.mobgame.controller.Character"*/-->
<div th:switch="${characters}">
    <h2 th:case="null">No characters yet!</h2>
    <div th:case="*">
        <h2>Characters</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="character : ${characters}">
                <td th:text="${character.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new character</a></p>
</div>
</body>
</html>